git+https://github.com/slaclab/lightpath#egg=lightpath
git+https://github.com/slaclab/pcds-devices#egg=pcds-devices
git+https://github.com/slaclab/psbeam#egg=psbeam
simplejson
lmfit
numpy
pandas
psutil #For PYDM
pyqtgraph>=0.10.0 #For PYDM
requests>=1.1.0 #For PYDM
scipy>=0.12.0 # For PYDM
pyqt=4.11 #For PYDM
git+https://github.com/slaclab/pydm#egg=pydm
